.external-chat{
    width: 100%;
    margin: 0%;
    margin-bottom: 20%;
    padding: 0%;    
    overflow-y:scroll ;
    height: 60%;
   }
   
   .internal-chat{
       /* overflow-y: scroll; */
       height: 60%;
       padding: 40px;
       display: flex;
       flex-direction: column;
       height: 100%;
   }
   .external-chat::-webkit-scrollbar {
    display: none;
  }
  

  .external-chat {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  } 
